body{
    font-family: 'Montserrat', sans-serif;
}

header{
    margin: 16px 24px 16px 24px;
    height: 64px;
    overflow: hidden;
}

header h1 span{
    color: maroon;
    font-weight: 500;
    
}

header #logo{
    height: 32px;
    display: flex;
}

header #logo img{
    width: auto;
    height: 80px;
}

header nav{
    float: right;
}

header nav li{
    list-style-type: none;
    display: inline-block;
}

header nav a{
    text-decoration: none;
    color: gray;
    padding: 2px;
}

#banner-container{
    background-color: rgba(128, 128, 128, 0.562);
    display: flex;
}

#banner-container img{
    margin: 32px 24px;
}

#banner-container #description{
    float: right;
    margin: 300px 70px auto auto;
}

#banner-container #button{
    background-color: gray;
    text-align: center;
    padding: 8px;
    margin-top: 200px;
}

#banner-container #button a{
    text-decoration: none;
    color: white;
    
}

#info-container{
    display: flex;
    margin: 32px auto 32px 24px;
}

#left-container{
    width: 60%;
    margin-right: 24px;
}

#left-container h3{
    font-weight: 500;
    opacity: 0.7;
}

#left-container img{
    margin-bottom: 32px;
}

#right-container{
    width: 40%;
    margin-left: 20px;
}

#info-container .img-container{
    width: 100%;
    display: inline-flex;
    align-items: center;
    border-left: gray solid 1px;
}

#info-container .img-container h3{
    font-weight: 500;
    opacity: 0.7;
}

#info-container .img-container a{
    text-decoration: none;
    color: blue;
}

#info-container .img-container img{
    width: 35%;
    height: auto;
    margin: 16px 16px;
}

#guest{
    background-color: rgba(128, 128, 128, 0.562);
}

#learning-container{
    background-color: rgba(128, 128, 128, 0.4);
    padding: 32px 72px;
}

#learning-container h1{
    text-align: center;
    margin-bottom: 32px;
}

#learning-container h3{
    font-weight: 500;
    opacity: 0.7;
}

#learning-container #container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#learning-container .text-container{
    padding: 16px;
}

#learning-container .img-container{
    margin: 32px 32px;
    width: 500px;
    background-color: white;
}

#learning-container .img-container img{
    height: auto;
    width: 500px;
}